# Web框架
fastapi>=0.95.0
uvicorn>=0.21.1
python-multipart>=0.0.6
pydantic>=1.10.7

# 数据库
sqlalchemy>=2.0.0
aiomysql>=0.1.1    # MySQL异步驱动
pymysql>=1.0.2     # PyMySQL (aiomysql的依赖)

# 浏览器自动化
playwright>=1.32.1
DrissionPage>=4.0.0
fake-useragent>=1.1.1

# 系统工具
psutil>=5.9.4
python-dotenv>=1.0.0